<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" style="height:100%;">
    <ion-slide>
      <div style="display:block;">
        <div text-center>
          <ion-icon name="book"></ion-icon>
        </div>
        <div>
          Remember books you have read by incrementally changing how many pages you can read before a reflection without losing content
        </div>
      </div>
    </ion-slide>
    <ion-slide>
        <div style="display:block;">
          <div text-center>
            <ion-icon name="quote"></ion-icon>
          </div>
          <div>
              Store quotes spaced based remembering and attach reflections and journal entries to it
          </div>
        </div>
      </ion-slide>
      <ion-slide>
          <div style="display:block;">
            <div text-center>
              <ion-icon name="create"></ion-icon>
            </div>
            <div>
                Keep your daily journal and thoughts without losing the result of the reflection
            </div>
          </div>
      </ion-slide>
      <ion-slide>
          <div style="display:block;">
            <div text-center>
                <ion-icon name="attach"></ion-icon>
            </div>
            <div>
                Link articles that relate to themes and topics that interest you
            </div>
            <ion-button [routerLink]="['/view']">Contiune</ion-button>
          </div>
      </ion-slide>
  </ion-slides>
</ion-content>
