<ion-header>
  <ion-toolbar color="primary">
    <ion-title center>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <h1>Remember books you have written by incrementally changing how many pages you can read before a reflection without losing content</h1>
    </ion-slide>
    <ion-slide>
      <h1>Store quotes spaced based remembering and attach reflections and journal entries to it</h1>
    </ion-slide>
    <ion-slide>
      <h1>Keep your daily journal and thoughts without losing the result of the reflection</h1>
    </ion-slide>
    <ion-slide>
      <h1>Link articles that relate to themes and topics that interest you</h1>
    </ion-slide>
  </ion-slides>

</ion-content>
