<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">View Memories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let memory of memories">
    <ion-card-header>
      <ion-card-subtitle>pages: {{memory.PageStart}}-{{memory.PageEnd}}</ion-card-subtitle>
      <ion-card-title>{{memory.Title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label *ngFor="let content of memory.ContentList" style="display: block">{{content.Title}}</ion-label> 
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openAdd()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
