<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>View Memories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let memory of memories">
    <ion-card-header>
      <ion-card-title>{{memory.Title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{memory.ContentList[0].Body}}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
