<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">New Tag</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onSave()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Tag Title</ion-label>
    <ion-input id="taginput" [value]="newTag" autocomplete="on" (input)="newTag = $event.target.value" autofocus></ion-input>
  </ion-item>
</ion-content>